.main-interface{
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171b28
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2e3e

}

body{
  box-sizing: border-box;

}

*{
  margin:0;
  padding:0;

}

